.section_hero {
    height: 80vh;
    background-image: url("../assets/hero_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-shadow: -1px 0px 20px rgba(0,0,0,1);
    position: relative;
}

.section_hero_h1 {
    font-size: 4rem;
    font-family: "Gloock", serif;
}

.custom_divider_1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom_divider_1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom_divider_1 .shape-fill {
    fill: #101010;
}

@media (max-width: 768px) {
    .section_hero_h1 {
        font-size: 2rem;
        text-align: center;
    }
}

.section_other {
    padding: 5vh 10vw;
}

.section_other_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}